@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@200;300;400&family=Poppins:wght@100;200;300;400&display=swap");

.aboutPage {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: auto;
}

.aboutHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 40px;
  width: 70vw;
  border-bottom: 1px solid #f0b39f;
  margin: 2vh;
  padding: 0%;
  padding-bottom: 2vh;
}

.aboutHeader1 {
  margin: 2vh;
}

.aboutMePara {
  font-family: "Neuton", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 10vh;
  margin-bottom: 18vh;
  margin-left: 5vw;
  width: 30vw;
  text-align: justify;
}

.fishingPhoto {
  height: 28vw;
  border-radius: 50px;
  box-shadow: 5px 5px 15px 5px rgba(240, 179, 159, 0.75);
  margin-top: 10vh;
  margin-bottom: 18vh;
}

.boutMe {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 6s ease-in-out, transform 6s ease-in-out;
}

.boutMe.fadeIn {
  opacity: 1;
  transform: translateY(0);
}
.boutBodyContent {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 2000px) {
  .aboutPage {
    width: 100vw;
  }
  .aboutHeader {
    width: 80vw;
  }
  .aboutMePara {
    width: 40vw;
  }
  .fishingPhoto {
    height: 33vw;
  }
}
@media only screen and (max-width: 1660px) {
  .aboutMePara {
    width: 50vw;
  }
  .fishingPhoto {
    height: 40vw;
  }
}
@media only screen and (max-width: 1440px) {
  .fishingPhoto {
    height: 50vw;
  }
}

@media only screen and (max-width: 1024px) {
  .fishingPhoto {
    height: 50vw;
    margin: 0;
  }
  .boutBodyContent {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .aboutMePara {
    width: 70vw;
  }
}

@media only screen and (max-width: 768px) {
  .fishingPhoto {
    height: 80vw;
    margin: 0;
  }

  .aboutHeader {
    font-size: 30px;
    margin-right: 1vw;
  }
}

@media only screen and (max-width: 425px) {
}
