.mainCat {
  width: 70vw;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.catPage {
  color: white;
  display: flex;
  align-items: center;
}
.catHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 40px;
  width: 70vw;
  border-bottom: 1px solid #f0b39f;
  margin: 2vh;
  padding: 0%;
  padding-bottom: 2vh;
  color: white;
}

.catHeader1 {
  margin: 2vh;
}

.cat-container {
  display: flex;
  flex-direction: column;
}

.cat-image {
  height: 35vh;
  margin: 1vh;
  border-radius: 10px;
  border: solid 2px #f0b39f;
}


@media only screen and (max-width: 1440px) {
.mainCat {
    width: 100vw;
  }

  .catHeader {
    width: 80vw;
  }
}


@media only screen and (max-width: 1440px) {
  .cat-image {
    height: 25vh;
  }
}
@media only screen and (max-width: 1024px) {
  .cat-image {
    height: 20vh;
  }
}
@media only screen and (max-width: 768px) {
  .cat-image {
    height: 10vh;
  }
}
