@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@200;300;400&family=Poppins:wght@100;200;300;400&display=swap");

.contactPage {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: auto;
}

.confirmationMessage {
  font-family: "Neuton", serif;
  font-style: normal;
  font-weight: 275;
  line-height: 25px;
  font-size: 20px;
  width: 18vw;
}

.contactPage2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.contactHearder {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 40px;
  width: 70vw;
  border-bottom: 1px solid #f0b39f;
  margin: 2vh;
  padding: 0%;
}

.contactPage3 {
  width: 30vw;
  margin-right: 15vh;
  margin-left: 10vh;
  height: 50vh;
  border-right: 1px solid #f0b39f;
}

.contactInfoTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-decoration: underline 1px solid #f0b39f;
}

.contactForm {
  width: 30vw;
}

.contactInfopPara {
  font-family: "Neuton", serif;
  font-style: normal;
  font-weight: 275;
  line-height: 25px;
  font-size: 20px;
  width: 18vw;
}

.contactImg {
  height: 3vh;
  margin: 1vh;
}

.contactEmail {
  display: flex;
}

.contactPhone {
  display: flex;
}

.contactEmail a {
  text-decoration: underline 1px solid #f0b39f;
  color: white;
}

.contactPhone a {
  text-decoration: underline 1px solid #f0b39f;
  color: white;
}

.contactEmail p {
  margin-right: 1vh;
  font-family: "Neuton", serif;
  font-size: 20px;
  font-weight: 200;
}

.contactPhone p {
  margin-right: 1vh;
  font-family: "Neuton", serif;
  font-size: 20px;
  font-weight: 200;
}

.contactEmailPhone {
  font-family: "Neuton", serif;
  font-weight: 300 !important;
  font-size: 20px;
  text-decoration: underline 1px solid #f0b39f;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: #0e1016;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid #f0b39f;
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: #0e1016;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid #f0b39f;
    }
  }

  label {
    margin-top: 1rem;
  }

  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: #f0b39f;
    width: 50%;
    color: #0e1016;
    box-shadow: 3px 3px 3px #f3c2b1;
    height: 4vh;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
  }
}

@media only screen and (max-width: 2000px) {
  .contactPage {
    width: 100vw;
  }
  .contactHearder {
    width: 80vw;
  }
}

@media only screen and (max-width: 1440px) {
  .contactInfopPara {
    width: 25vw;
  }
}

@media only screen and (max-width: 1024px) {
  .contactInfopPara {
    width: 30vw;
  }
  .contactPage3 {
    margin-right: 5vh;
    padding-right: 5vh;
  }
}

@media only screen and (max-width: 1000px) {
  .contactPage2 {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
  }

  .confirmationMessage {
    width: 50vw;
    margin-top: 25vh;
  }

  .contactForm {
    width: 60vw;
  }
  .contactPage3 {
    width: 50vw;
    margin-right: 0vh;
    padding-right: 0vh;
    margin-left: 0vh;
    border-right: 0px solid #f0b39f;
  }
  .contactInfopPara {
    width: 50vw;
  }
  .contactPage2 {
    margin-top: 3vh;
  }
}

@media only screen and (max-width: 700px) {
  .contactEmail p {
    font-size: 18px;
  }

  .contactPhone p {
    font-size: 18px;
  }
  .contactInfoTitle {
    font-size: 25px;
  }

  .contactInfopPara {
    font-size: 18px;
    width: 60vw;
  }

  .contactHearder {
    font-size: 30px;
  }

  .contactPage2 {
    width: 60vw !important;
  }

  .contactForm {
    margin-top: 20vh;
  }

  input[type="submit"] {
    margin-left: 12vw;
  }
}
