.footer {
  position: relative;
  bottom: 0;
  width: 70vw;
  height: 12vh;
  border-top: 1px solid #f0b39f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer1 {
  width: 70vw;
  background-color: #000000;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  align-content: baseline;
  align-items: center;
  margin-bottom: -4vh;
}

.footer a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0%;
}

.footerWordLinks {
  margin-left: 1vw;
}

.footerPicLinks {
  margin-right: 1vw;
}

.footerImg {
  height: 35px;
  opacity: 0.5;
  z-index: 2;
}

.lineInFooter {
  border-top: 1px solid #f0b39f;
  background-color: antiquewhite;
  width: 70vw;
  margin-left: 10px;
}

.footerContactInfo {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-top: -13px;
  width: 70vw;
}

.footerContactInfo p {
}

@media only screen and (max-width: 2000px) {
  .footer {
    width: 100vw;
  }

  .footer1 {
    width: 100vw;
  }

  .footerWordLinks {
    margin-left: 15vw;
  }

  .footerPicLinks {
    margin-right: 15vw;
  }
}

@media only screen and (max-width: 1048px) {
  .footer a {
    font-size: 10px !important;
  }
  .footerWordLinks {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
  }
  .footerWordLinks a {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 450px) {
  .footer1 {
    display: flex;
    justify-content: center;
  }

  .footer {
    padding-top: 5vh;
  }

  .footerContactInfo {
    display: flex;
    justify-content: center;
  }
  .footerImg {
    height: 25px;
    opacity: 0.5;
  }
  .footerPicLinks {
    margin-left: 50px;
  }
}
