.hamburger-menu {
  position: relative;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  padding: 3px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 25px;
}

.menu-icon .bar {
  width: 35px;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.menu-icon.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu-items {
  position: absolute;
  top: 5vh;
  right: 3vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 25vw;
  font-size: 20px;
  z-index: 2;
}

.menu-items a {
  text-decoration: none;
  color: #f0b39f;
  margin-bottom: 10px;
  z-index: 2;
}

.menu-1 {
  margin-bottom: 1vh;
}
