@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@200;300;400&family=Poppins:wght@100;200;300;400&display=swap");

body {
  margin: 0%;
  overflow-x: hidden;
  width: 100vw;
  background-color: #000000;
}

.mainPageTitleMain {
  position: relative;
  color: white;
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: end;
  background: linear-gradient(180deg, rgba(48, 47, 47, 0) 0%, #302f2f 100%);
  box-shadow: 0px 10px 10px 0px rgba(240, 179, 159, 0.75);
  position: relative;
  color: white;
  height: 71vh;
  width: 70vw;
  margin: auto;
}

.mainPageTitleMain::before {
  background: linear-gradient(180deg, #727171 0%, rgba(191, 191, 191, 0) 100%);
  height: 70vh;
  width: 70vw;
}

.mainPageTitle {
  margin-top: 6vh;
}

.headShot {
  width: 35vw;
  margin-bottom: -0.35vh;
}

.mainPageTitleMain1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vh;
}

.cvButtonText {
  font-size: 1vw;
  font-family: "Neuton", serif;
  width: 8vw;
  height: 4vh;
  background-color: #f0b39f;
  border-radius: 25px;
  color: #0e1016;
  margin-top: 5vh;
  filter: drop-shadow(7px 8px 5.8px rgba(0, 0, 0, 0.25));
  transform: translatex(50px);
  opacity: 0;
  transition: opacity 3s ease-out, transform 3s ease-out;
  transition-delay: 6s;
  margin-right: 8vw;
  margin-bottom: 10vh;
}

.cvButtonText:hover {
  cursor: pointer;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    transform: scale(1.1);
  }
  40% {
    transform: translateY(-10px);
    transform: scale(1);
  }
  60% {
    transform: translateY(0px);
    transform: scale(1.1);
  }
}

.mainPageTitle1,
.mainPageTitle2,
.mainPageTitle3 {
  position: relative;
}
.mainPageTitle2,
.mainPageTitle3 {
  color: #f0b39f;
  text-shadow: 3px 8px 13.5px rgba(255, 255, 255, 0.65);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 3vh;
}

.mainPageTitleSloganTitle {
  color: #fff;
  font-family: "Neuton", serif;
  font-size: 1.75vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1vh;
  opacity: 0;
  transform: translatex(50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
  margin-right: 0.5vw;
  transition-delay: 6s;
  margin-right: 8vw;
}

.mainPageTitle1 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins", sans-serif;
  font-size: 1.75vw;
  font-style: normal;
  font-weight: 275;
  line-height: 1vh;
  display: flex;
  width: fit-content;
}

.mainPageTitle2,
.mainPageTitle3 {
  font-size: 4.25vw;
  font-family: "Poppins", sans-serif;
}

.mainPageTitleSlogan {
  color: #fff;
  text-align: justify;
  font-family: "Neuton", serif;
  font-size: 1.05vw;
  font-style: normal;
  font-weight: 200;
  line-height: 2vh;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
  margin-right: 0.5vw;
  transition-delay: 6s;
  margin-right: 8vw;
}

.mainPageTitle {
  position: relative;
  text-align: center;
}

.mainPageTitle1 {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.cvButtonText.show,
.mainPageTitleSloganTitle.show,
.mainPageTitleSlogan.show,
.mainPageTitle1.show,
.mainPageTitle3.show,
.mainPageTitle2.show {
  opacity: 1;
  transform: translateY(0);
}

.mainPageTitle2 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
  margin-right: 17.5vw;
  transition-delay: 2s;
}

.mainPageTitle3 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
  margin-right: 0.5vw;
  transition-delay: 4s;
}

.scrolling-banner {
  width: 70vw;
  overflow-x: hidden;
  display: flex;
}

.scrolling-banner ul {
  list-style: none;
  display: flex;
  animation: scroll 60s linear infinite;
  white-space: nowrap;
}

.scrolling-banner li {
  padding: 0 3vw;
  font-size: 2.5vw;
  font-family: "Poppins", sans-serif;
}

.colorSkills {
  color: #f0b39f;
}

@keyframes scroll {
  from {
    transform: translateX(64vw);
  }
  to {
    transform: translateX(-100%);
  }
}

.custom-audio {
  position: fixed;
  bottom: 50px;
  left: 25px;
  z-index: 1;
  width: 100px;
}

.custom-audio::-webkit-media-controls-enclosure {
  background-color: #0e101600;
}

.custom-audio::-webkit-media-controls-play-button {
  background-color: #f0b39f;
  border-radius: 50%;
  margin-left: 25px;
}

.custom-audio::-webkit-media-controls-panel {
  margin-right: 20px;
}

.custom-audio::-webkit-media-controls-start-playback-button,
.custom-audio::-webkit-media-controls-current-time-display,
.custom-audio::-webkit-media-controls-time-remaining-display,
.custom-audio::-webkit-media-controls-timeline,
.custom-audio::-webkit-media-controls-timeline-container,
.custom-audio::-webkit-media-controls-volume-control-container,
.custom-audio::-webkit-media-controls-mute-button,
.custom-audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none !important; /* Hide all controls except the play button in WebKit browsers */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0a0a0a00;
}

::-webkit-scrollbar-thumb {
  background-color: #f0b39f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f0b39f;
}

@media only screen and (min-width: 2800px) {
  .mainPageTitleMain {
    height: 80vh;
    justify-content: space-around;
  }

  .headShot {
    width: 30vw;
  }


}

@media only screen and (max-width: 2000px) {
  .mainPageTitleMain {
    height: 70vh;
    width: 100vw;
    justify-content: space-around;
  }

  .scrolling-banner li {
    font-size: 3vw;
  }

  .scrolling-banner {
    width: 100vw;
  }

  .mainPageTitleMain::before {
    background: linear-gradient(
      180deg,
      #727171 0%,
      rgba(191, 191, 191, 0) 100%
    );
    height: 70vh;
    width: 100vw;
  }

  .headShot {
    width: 45vw;
  }

  .cvButtonText {
    width: 10vw;
    font-size: 1.5vw;
  }

  .mainPageTitleSloganTitle {
    font-size: 2.25vw;
  }

  .mainPageTitle1 {
    font-size: 2.25vw;
  }

  .mainPageTitle2,
  .mainPageTitle3 {
    font-size: 6.5vw;
  }

  .mainPageTitleSlogan {
    font-size: 1.5vw;
  }

  .boutMe {
    width: 25vw;
    font-size: 1.75vw;
  }
}

@media only screen and (min-width: 1800px) and (max-height: 1000px) {
  .mainPageTitleMain {
    height: 70vh;
    width: 70vw;
    justify-content: space-around;
  }

  .scrolling-banner li {
    font-size: 3vw;
  }

  .scrolling-banner {
    width: 70vw;
  }

  .mainPageTitleMain::before {
    height: 80vh;
    width: 100vw;
  }

  .headShot {
    width: 25vw;
  }
  .cvButtonText {
    width: 10vw;
    font-size: 1vw;
  }

  .mainPageTitleSloganTitle {
    font-size: 1.25vw;
  }

  .mainPageTitle1 {
    font-size: 1.25vw;
  }

  .mainPageTitle2,
  .mainPageTitle3 {
    font-size: 4vw;
  }

  .mainPageTitleSlogan {
    font-size: 1vw;
  }

}

@media only screen and (min-width: 1800px) and (max-height: 800px) {
  .mainPageTitleMain {
    height: 70vh;
    width: 70vw;
    justify-content: space-around;
  }

  .scrolling-banner li {
    font-size: 3vw;
  }

  .scrolling-banner {
    width: 70vw;
  }

  .mainPageTitleMain::before {
    height: 80vh;
    width: 100vw;
  }

  .headShot {
    width: 23vw;
  }
  .cvButtonText {
    width: 8vw;
    font-size: 1vw;
    height: 2vw;
    margin-bottom: 7vh;
  }

  .mainPageTitleSloganTitle {
    font-size: 1.25vw;
  }

  .mainPageTitle1 {
    font-size: 1.25vw;
  }

  .mainPageTitle2,
  .mainPageTitle3 {
    font-size: 3.5vw;
  }

  .mainPageTitleSlogan {
    font-size: 1vw;
  }
}


@media only screen and (max-width: 1400px) {
  .mainPageTitleMain {
    height: 50vh;
  }
  .cvButtonText {
    margin-bottom: 5vh;
    width: 15vw;
  }
}

@media only screen and (max-width: 1024px) {
  .mainPageTitleMain {
    height: 70vh;
  }
  .cvButtonText {
    margin-top: 0vh;
    height: 2vh;
    width: 15vw;
  }

  .headShot {
    width: 55vw;
  }
  .cvButtonText {
    width: 10vw;
    font-size: 1.757vw;
  }

  .mainPageTitleSloganTitle {
    font-size: 2.5vw;
  }

  .mainPageTitle1 {
    font-size: 2.5vw;
  }

  .mainPageTitle2,
  .mainPageTitle3 {
    font-size: 7vw;
  }

  .mainPageTitleSlogan {
    font-size: 1.75vw;
  }
  .cvButtonText {
    margin-bottom: 8vh;
    width: 15vw;
    height: 3vh;
  }
  .scrolling-banner li {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 900px) {
  .mainPageTitleSloganTitle {
    line-height: 1.5vh;
  }

  .mainPageTitle1 {
    line-height: 1.5vh;
  }

  .mainPageTitle2,
  .mainPageTitle3 {
    line-height: 1.5vh;
  }

  .mainPageTitleSlogan {
    line-height: 1.5vh;
  }

  .boutMe {
    line-height: 1.5vh;
  }

  .cvButtonText {
    margin-bottom: 3vh;
    height: 3vh;
    width: 15vw;
  }
}

@media only screen and (max-width: 820px) {
  .mainPageTitleMain {
    height: 71vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: baseline;
    justify-content: flex-end;
  }

  .cvButtonText {
    margin-top: 0vh;
    height: 2vh;
    width: 15vw;
  }

  .headShot {
    width: 45vw;
  }

  .mainPageTitleSloganTitle {
    font-size: 4vw;
    margin: 1vh;
  }

  .mainPageTitle1 {
    font-size: 3vw;
    margin-bottom: -1vh;
  }

  .mainPageTitle2,
  .mainPageTitle3 {
    font-size: 12vw;
  }

  .mainPageTitleSlogan {
    font-size: 2.5vw;
  }
  .cvButtonText {
    width: 25vw;
    height: 3vh;
    margin-top: 2vh;
    font-size: 1.75vh;
    margin-bottom: 1vh;
  }
  .scrolling-banner li {
    font-size: 5vw;
  }

  .custom-audio {
    position: fixed;
    bottom: 50px;
    left: 0px;
    z-index: 1;
    width: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .mainPageTitleMain {
    height: 66vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: baseline;
    justify-content: flex-end;
  }

  .cvButtonText {
    margin-top: 0vh;
    height: 2vh;
    width: 15vw;
  }

  .headShot {
    width: 55vw;
    margin-bottom: -0.6vh;
  }

  .mainPageTitleSloganTitle {
    font-size: 6vw;
    margin: 3vh;
  }

  .mainPageTitle1 {
    font-size: 4vw;
    margin: 0%;
  }

  .mainPageTitle2,
  .mainPageTitle3 {
    font-size: 15vw;
    margin: 0%;
    line-height: 8vh;
  }

  .mainPageTitleSlogan {
    font-size: 4vw;
    margin: 1vh;
  }
  .cvButtonText {
    width: 25vw;
    height: 3vh;
    margin: 0%;
    margin-top: 2vh;
    font-size: 1.75vh;
    margin-bottom: 1vh;
  }
  .scrolling-banner li {
    font-size: 5vw;
  }

  .custom-audio {
    position: fixed;
    bottom: 50px;
    left: 0px;
    z-index: 1;
    width: 100px;
  }
}

/* @media only screen and (max-width: 2018px) {

  .mainPageTech p{
    width: 25vw;
    font-size: 20px;
    font-family: 'Neuton', serif;
    font-style: normal;
    font-weight: 275;
    line-height: 25px;
    }

   .techElements{
    margin-left: 450px;
    }

    .custom-prev-arrow {
        left: 250px;
    }

    .custom-next-arrow {
        right: 250px;
    }
}

@media only screen and (max-width: 1600px) {
  .techDiscription{
    }

  .mainPageTech p{
    width: 25vw;
    font-size: 20px;
    font-family: 'Neuton', serif;
    font-style: normal;
    font-weight: 275;
    line-height: 25px;
    }

   .techElements{
    margin-left: 180px;
    }

    .custom-prev-arrow {
        left: 200px;
    }

    .custom-next-arrow {
        right: 200px;
    }

    .mainAboutInfo p{
        width: 22vw;
    }
    .arrow1 {
        left: 47%;
    }

    .arrow2 {
        right: 47%;
    }
}

@media only screen and (max-width: 1440px) {

       .techElements{
        margin-left: 80px;
        }

        .custom-prev-arrow {
            left: 100px;
        }

        .custom-next-arrow {
            right: 150px;
        }

        .mainAboutInfo p{
            width: 25vw;
        }

  }

  @media only screen and (max-width: 1150px) {
    .mainPageTech p{
        font-size: 18px;
    }

    .techElements div {
        font-size: 20px;
    }

    .techElements{
        margin-left: 60px;
     }

     .mainAboutInfo p{
        font-size: 18px;

     }
     .prestigeDiscription p{
        font-size: 18px;
    }

}

@media only screen and (max-width: 1000px) {
    .mainPageTitleMain {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        flex-shrink: 0;
    }
    .mainPageTitle{
        display: flex ;
        flex-direction: column !important;
    }
    .mainPageTech h3{
        font-size: 20px;
    }

    .mainPageTech p{
        font-size: 15px;
    }

    .techElements{
        margin-left: 60px;
     }

    .techElements div {
        font-size: 15px;
    }

    .mainAboutInfo p{
        font-size: 15px;
     }

     .prestigeTitle {
        font-size: 20px;
    }

    .portTitle{
        font-size: 20px;
    }

    .prestigeDiscription p{
        font-size: 15px;
    }

    .arrow1 {
        left: 46%;
    }

    .arrow2 {
        right: 46%;
    }

    .mainAbout h3 {
        font-size: 20px;
    }

    .underLine {
        width: 100px;
    }

    .mainAbout h2 {
        font-size: 20px;
    }

} */

/* @media only screen and (max-width: 800px) {
    .mainPageTitleMain {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        flex-shrink: 0;
    }

    .mainPageTitleMain::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../assets/DarkMountainScenery.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity: 0.54;

    }

    .mainPageTitle {
        position: relative;
        display: flex;
        z-index: 1;
    }

    .mainPageTitle1,
    .mainPageTitle2,
    .mainPageTitleSlogan {
        position: relative;
        margin: 0;
    }

    .mainPageTitle2{
        margin-left: 10px;
        color: #F0B39F;
    }

    .mainPageTitle1,
    .mainPageTitle2{
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
    }

    .mainPageTitleSlogan{
        color: #FFF;
        text-align: center;
        font-family: 'Neuton', serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }

    .mainPageTitleMain {
        position: relative;
        color: white;
        height: 850px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .mainPageTitle {
        position: relative;
        text-align: center;
    }

    .mainPageTitle1 {
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 3s ease-out, transform 3s ease-out;
    }

    .mainPageTitle1.show,
    .mainPageTitle2.show {
        opacity: 1;
        transform: translateY(0);
    }

    .mainPageTitle2 {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 3s ease-out, transform 3s ease-out;
    }

    .mainPageTech{
        color: White;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(180deg, #0E1016 0%, rgba(14, 18, 22, 0.00) 100%);
        box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-top: 60px;
        padding-right: 50px;
    }

    .mainPageTech p{
        width: 25vw;
        font-size: 20px;
        font-family: 'Neuton', serif;
        font-style: normal;
        font-weight: 275;
        line-height: 25px;
    }

    .mainPageTech h3{
        color: #F0B39F;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .line {
        display: inline-block;
        opacity: 0;
        transform: translateX(-30px);
        animation: slideIn 0.5s forwards;
    }

    @keyframes slideIn {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .techElements{
        border-radius: 50%;
        height: 400px;
        width: 400px;
        padding-top: 50px;
        margin: 0px;
    }

    .techElements div {
        color: #F0B39F;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .techElements div:nth-child(odd) {
        animation: zoomInOut 15s infinite alternate;
    }

    .techElements div:nth-child(even) {
        animation: zoomInOut1 15s infinite alternate;
    }

    .element1{
        margin-top: 60px;
    }

    .element2{
        animation-delay: 5s !important;
        margin-right: 250px;
    }
    .element3{
        margin-right: 50px;
        margin-top: 10px;
        animation-delay: 10s !important;
    }

    .element4{
        margin-left: 350px;
    }

    .element5{
        animation-delay: 4s !important;
        margin-left: 50px;
    }
    .element6{
        animation-delay: 5s !important;
        margin-right: 350px;
    }
    .element7{
        animation-delay: 8s !important;
        margin-left: 200px;
    }
    .element8{
        animation-delay: 2s !important;
        margin-right: 100px;
    }

    .element9{
        animation-delay: 10s !important;
        margin-left: 300px;
    }

    .element11{
        animation-delay: 5s !important;
        margin-left: 200px;
    }

    .element12{
        animation-delay:2s !important;
    }

    .element10{
        margin-right: 300px;
    }

    @keyframes zoomInOut {
        0% {
            transform: scale(.25);
            opacity: .5;
        }
        25%{
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(.25);
            opacity: 0.5;
        }
        75% {
            transform: scale(1);
            opacity: .5;
        }
        100% {
            transform: scale(.25);
            opacity: .5;
        }
    }

    @keyframes zoomInOut1 {
        100% {
            transform: scale(.25);
            opacity: .5;
        }
        75%{
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(.25);
            opacity: 0.5;
        }
        25% {
            transform: scale(1);
            opacity: .5;
        }
        0% {
            transform: scale(.25);
            opacity: .5;
        }
    }

    .scrollDownIndicator {
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        color: #F0B39F;
        position: relative;
    }

    .arrow,
    .arrow1,
    .arrow2 {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid white;
        position: absolute;
        transform: translateX(-50%);
        animation: moveArrow 2s infinite;
    }

    .arrow1 {
        left: 45%;
        border-top: 15px solid #F0B39F;
    }

    .arrow2 {
        right: 45%;
        border-top: 15px solid #F0B39F;
    }

    @keyframes moveArrow {
        0%, 100% {
            top: 10px;
        }
        50% {
            top: 20px;
        }
    }

    .prestigeMotors{
        display: flex;
        color: white;
        justify-content: center;
        align-content: center;
    }

    .prestigeDiscription{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .prestigeDiscription h3{
        color: #F0B39F;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .prestigeDiscription p{
        font-size: 20px;
        width: 50vw;
        font-family: 'Neuton', serif;
        font-style: normal;
        font-weight: 275;
        line-height: 25px;
        color: white;
        margin-right: 50px;
    }

    .gitLabButton1{
        width: 179px;
        height: 45px;
        background-color: #F0B39F;
        border-radius: 25px;
        padding: 10px;
        text-decoration: none;
        color: #0E1016;
    }

    .gitLabButton{
        margin-top: 50px;
        font-family: 'Neuton', serif;
    }


    .custom-audio{
        position: fixed;
        bottom: 50px;
        left: 25px;
        z-index: 1;
        width: 100px;
    }


    .custom-audio::-webkit-media-controls-enclosure{
        background-color: #0e101600;

    }

    .custom-audio::-webkit-media-controls-play-button{
        background-color: #F0B39F;
        border-radius: 50%;
        margin-left: 25px;
    }

    .custom-audio::-webkit-media-controls-panel{
        margin-right: 20px;

    }

    .prestigeVideo1{
        display: flex;
        justify-content: center;
    }

    .prestigeVideo{
        width: 70vw;
    }

    .prestigeTitle{
        color: #F0B39F;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 150px;
        margin-left: 15vw;
        margin-bottom: 0%;
    }

    .mainAbout{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(360deg, #0E1016 0%, rgba(14, 18, 22, 0.00) 100%);
        box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-bottom: 30px;
        padding-top: 50px;
    }

    .mainAbout h3{
        color: #F0B39F;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: -6px;
    }

    .boutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .underLine{
        border-top: 1px solid #F0B39F;
        width: 167px;
        margin-bottom: 50px;
    }

    .mainAbout h2{
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0%;
    }

    .mainAboutInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mainAboutInfo p{
        font-size: 20px;
        width: 50vw;
        font-family: 'Neuton', serif;
        font-style: normal;
        font-weight: 275;
        line-height: 25px;
        color: white;
        margin-top: 5px;
    }

    .learnMoreLink{
        color: #F0B39F;
    }

    .cvButtonText{
        font-size: 20px;
        font-family: 'Neuton', serif;
    }
    .mainAboutImg{
        height: 450px;
        width: 350px;
        margin-right: 0px;
    }

    .custom-prev-arrow,
    .custom-next-arrow {
        top: 60%;
    }

    .custom-prev-arrow {
        left: 30px;
    }

    .custom-next-arrow {
        right: 50px;
    }

    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        font-size: 50px;
        line-height: 1;
        opacity: .75;
        z-index: 1;
        color: #F0B39F;
        -webkit-font-smoothing: antialiased;
    }

    .slick-prev, .slick-next {
        z-index: 1;
    }

}

@media only screen and (max-width: 630px) {
    .mainPageTitle1,
    .mainPageTitle2{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }

    .mainPageTitleSlogan{
        color: #FFF;
        text-align: center;
        font-family: 'Neuton', serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }
    .mainPageTech h3{
        font-size: 20px;
    }

    .mainPageTech{
        padding: 0%;
    }

    .mainPageTech p{
        font-size: 15px;
    }

    .techElements{
        margin-left: 0px;
     }

    .techElements div {
        font-size: 15px;
    }

    .mainAboutInfo p{
        font-size: 15px;
     }

     .prestigeTitle {
        font-size: 20px;
    }

    .prestigeDiscription p{
        font-size: 15px;
    }

    .arrow1 {
        left: 44%;
    }

    .arrow2 {
        right: 44%;
    }

    .mainAbout{
        margin: 0px;
    }
    .mainAbout h3 {
        font-size: 20px;
    }

    .mainAboutInfo{
        align-items: center;
    }

    .underLine {
        width: 100px;
    }

    .boutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainAbout h2 {
        font-size: 20px;
    }

    .mainAboutImg{
        height: 350px;
        width: 250px;
        margin-left: 0px;
    }
    .mainAboutImg1{
        height: 350px;
        width: 250px;
        margin-left: 0px;
    }

    .prestigeMotors{
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-content: center;
        align-items: center;
    }


    .prestigeDiscription{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .prestigeDiscription p{
        margin: 0%;
        padding-bottom: 0px;
    }

    .prestigeDiscription .gitLabButton{
        margin-bottom: 10px;

    }

    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        font-size: 30px;
        line-height: 1;
        opacity: .75;
        z-index: 1;
        color: #F0B39F;
        -webkit-font-smoothing: antialiased;
    }

    .arrow1 {
        left: 42%;
    }

    .arrow2 {
        right: 42%;
    }
    .mainPageTech {
        padding-top: 60px;
    }
    .mainPageTitleMain::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../assets/DarkMountainScenery.jpg);
        background-size: cover;
        background-position: -500px;
        opacity: 0.54;

    }
}

@media only screen and (max-width: 530px) {


    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        z-index: 1;
        color: #F0B39F;
        -webkit-font-smoothing: antialiased;
    }

    .arrow1 {
        left: 42%;
    }

    .arrow2 {
        right: 42%;
    }
    .custom-prev-arrow {
        left: 30px;
    }

    .custom-next-arrow {
        right: 50px;
    }

    .techElements{
        margin-right: 50px;
    }

    .element1{
    }

    .element2{
        animation-delay: 5s !important;
        margin-right: 250px;
    }
    .element3{
        margin-right: 50px;
        margin-top: 10px;
        animation-delay: 10s !important;
    }

    .element4{
        margin-left: 350px;
    }

    .element5{
        animation-delay: 4s !important;
        margin-left: 50px;
    }
    .element6{
        animation-delay: 5s !important;
        margin-right: 350px;
    }
    .element7{
        animation-delay: 8s !important;
        margin-left: 200px;
    }
    .element8{
        animation-delay: 2s !important;
        margin-right: 100px;
    }

    .element9{
        animation-delay: 10s !important;
        margin-left: 300px;
    }

    .element11{
        animation-delay: 5s !important;
        margin-left: 200px;
    }

    .element12{
        animation-delay:2s !important;
    }

    .element10{
        margin-right: 300px;
    }
    .mainPageTitleMain::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../assets/DarkMountainScenery.jpg);
        background-size: cover;
        background-position: -500px;
        opacity: 0.54;

    }

}

@media only screen and (max-width: 500px) {
    .techStuff{
    }

    .techDiscription p{
        width: 10vw !important;
    }
    .techElements{
        display: none;
    }

    .mobileElements{
        display: block;
        justify-content: center;
        align-content: center;
        color: #F0B39F;
        z-index: 1;
        width: 400px;
        font-size: 20px;
        margin-top: 50px;
        overflow-x: hidden;
    }

    .mobileElements .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        padding: 0%;
        margin: 0%;
        margin-left: 200px;
        overflow: hidden;
    }
    .mobileElements .slick-slide {
        opacity: 0.5;
        transition: opacity 1s ease-in, font-size 1s ease-in;
        overflow: hidden;

    }

    .mobileElements .slick-current {
        opacity: 1 !important;
        font-size: 25px;
    }

    .prestigeTitle {
        margin-top: 50px;
    }
    .techDiscription{
        display: none;
    }

    .techDiscriptionMed{
        display: contents;
    }
    .mainPageTitleMain::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../assets/DarkMountainScenery.jpg);
        background-size: cover;
        background-position: -500px;
        opacity: 0.54;

    }

}

@media only screen and (max-width: 425px) {
    .mainPageTitle{
        display: flex ;
        flex-direction: column !important;
    }

    .techDiscription{
        display: none;
    }

    .techDiscriptionMed{
        display: contents;
    }

    .mainPageTitleSlogan{
        width: 60vw;
    }
    .mainPageTitleMain::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../assets/DarkMountainScenery.jpg);
        background-size: cover;
        background-position: -500px;
        opacity: 0.54;

    }

    .mobileElements{
        display: block;
        justify-content: center;
        align-content: center;
        color: #F0B39F;
        z-index: 1;
        width: 375px;
        font-size: 20px;
        margin-top: 50px;
        overflow-x: hidden;
    }
} */
