@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

.navBar {
  height: 120px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background: linear-gradient(
    180deg,
    #f0b39f90 0%,
    rgba(191, 191, 191, 0) 100%
  );
  width: 70vw;
  margin: auto;
  z-index: 1;
}

.navbar1 a {
  text-decoration: none;
  color: white;
}

.navBarLogo {
  height: 115px;
  margin-top: 1vh;
  margin-left: 1vh;
}

.navBarLinks {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.navBarLinks a {
  color: white;
  text-decoration: none;
}

.navBar2 {
  display: none;
}

.navContact {
  position: relative;
  color: #f0b39f;
  border: 3px solid #f0b39f;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px;
  overflow: hidden;
}

.navContact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f0b39f;
  transition: width 2s ease;
  color: black !important;
  z-index: -1;
}

.navContact:hover::before {
  width: 100%;
}

.navContact:hover {
  color: black !important;
  font-weight: bold;
  border: 3px solid white;
}

.navCat {
  position: absolute;
  height: 40px;
  top: 0vh;
  right: 17vw;
}

.navContactLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutLink {
  margin-top: 1vh;
}
@media (max-width: 2000px) {
  .navBar {
    width: 100vw;
  }
  .navBarLinks {
    width: 40vw;
    font-size: 1.75vw;
    margin-top: 5vh;
  }
  .navCat {
    top: 2vh;
    right: 5vw;
  }

  .navContact {
    font-size: 1.65vw;
  }

  .navBarLogo {
    margin-top: 3vh;
    margin-left: 1vh;
  }
}

@media (max-width: 1880px) {
  .navCat {
    top: 2.25vh;
    right: 5vw;
  }
}

@media (max-width: 1300px) {
  .navBarLinks {
    width: 50vw;
  }
  .navCat {
    top: 2.5vh;
    right: 5vw;
  }
}

@media (max-width: 950px) {
  .navBarLinks {
    display: none;
  }
  .navBar2 {
    display: block;
  }
  .navbar1 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .navBarLogo {
    height: 75px;
    margin: 0%;
  }

  .navCat {
    position: absolute;
    height: 25px;
    top: 2vh;
    right: 2.25vw;
  }
}
@media (max-width: 800px) {
  .navCat {
    position: absolute;
    height: 25px;
    top: 2vh;
    right: 2.5vw;
  }
}
@media (max-width: 600px) {
  .navCat {
    position: absolute;
    height: 25px;
    top: 2vh;
    right: 3vw;
  }
}

@media (max-width: 500px) {
  .navCat {
    position: absolute;
    height: 25px;
    top: 2vh;
    right: 4.25vw;
  }
}
