.projectPage {
  display: flex;
  flex-direction: column;
}

.projectHeader1 {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 5vh;
}

.projectHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 40px;
  width: 70vw;
  border-bottom: 1px solid #f0b39f;
  margin: 2vh;
  padding: 0%;
  padding-bottom: 2vh;
  color: white;
}

.prestigeMotors {
  display: flex;
  color: white;
  justify-content: center;
  align-content: center;
}

.prestigeDiscription {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.prestigeDiscription p {
  font-size: 25px;
  width: 50vw;
  font-family: "Neuton", serif;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  color: white;
  margin-right: 50px;
}

.gitLabButton1 {
  width: 179px;
  height: 45px;
  background-color: #f0b39f;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  color: #0e1016;
}

.gitLabButton {
  margin-top: 50px;
  font-family: "Neuton", serif;
  margin-bottom: 5vh;
}

.techImg {
  display: flex;
  align-items: end;
}

.projectImg {
  display: flex;
}

.mainPageTech {
  color: White;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.techStuff {
  width: 65vw;
  margin: auto;
}
.techStuff p {
  text-align: justify;
  font-size: 23px;
  font-family: "Neuton", serif;
  font-style: normal;
  font-weight: lighter;
  line-height: 30px;
  color: white;
  margin: auto;
  margin-bottom: 5vh;
}

.techStuff h3 {
  color: #f0b39f;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.techDiscription {
  text-align: justify;
  width: 25vw;
}

.line {
  display: inline;
  opacity: 0;
  transform: translateX(-30px);
  animation: slideIn 3s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.prestigeImage {
  display: flex;
  justify-content: center;
}

.prestigeImage1 {
  height: 20vw;
  margin-top: 2vh;
}

.portCarousel {
  height: 5vh;
  width: 25vw;
  cursor: zoom-in;
  margin-bottom: 37vh;
}
.modal {
  width: 90vw;
  cursor: zoom-out;
}

.modal-content {
  position: absolute;
  z-index: 2;
}
.prestigeVideo1 {
  display: flex;
  justify-content: center;
}

.prestigeVideo {
  width: 65vw;
}

.prestigeTitle {
  color: #f0b39f;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 17.5vw;
  margin-bottom: 0%;
}

.custom-prev-arrow,
.custom-next-arrow {
  top: 60%;
}

.custom-prev-arrow {
  left: 12vw;
}

.custom-next-arrow {
  right: 13vw;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 50px;
  line-height: 1;
  opacity: 0.75;
  z-index: 1;
  color: #f0b39f;
  -webkit-font-smoothing: antialiased;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

@media (max-width: 2000px) {
  .techDiscription {
    width: 65vw;
  }
  .techImg {
    flex-direction: column;
    align-items: center;
  }
  .projectImg {
    width: 65vw;
    justify-content: space-around;
  }
  .prestigeImage1 {
    height: 25vw;
  }

  .portCarousel {
    width: 30vw;
  }
}

@media (max-width: 1440px) {
  .prestigeImage1 {
    height: 30vw;
  }

  .portCarousel {
    width: 35vw;
  }
}

@media (max-width: 1024px) {
  .custom-prev-arrow {
    left: 8vw;
  }

  .custom-next-arrow {
    right: 11vw;
  }
  .projectImg {
    height: 25vh;
  }
  .projectHeadShot {
    width: 25vw;
  }
  .prestigeImage1 {
    height: 25vw;
  }

  .portCarousel {
    width: 30vw;
  }
}

@media (max-width: 900px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 25px;
  }
  .prestigeTitle {
    font-size: 25px;
  }
  .techStuff h3 {
    font-size: 30px;
  }
  .techStuff p {
    font-size: 13px;
  }
  .prestigeDiscription p {
    font-size: 15px;
  }
  .projectHeader {
    font-size: 30px;
  }
}
@media (max-width: 820px) {
  .prestigeMotors {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .prestigeDiscription {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prestigeDiscription p {
    margin: 0%;
    padding-bottom: 0px;
  }

  .prestigeDiscription .gitLabButton {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 25px;
  }
  .prestigeTitle {
    font-size: 25px;
  }
  .techStuff h3 {
    font-size: 30px;
  }
  .techStuff p {
    font-size: 13px;
    line-height: normal;
    margin: 0;
  }
  .prestigeDiscription p {
    font-size: 15px;
    line-height: normal;
  }
  .projectHeader {
    font-size: 30px;
  }
  .projectImg {
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 60vh;
    margin-top: -15vh;
  }

  .projectHeadShot {
    width: 25vw;
  }
  .prestigeImage1 {
    height: 55vw;
  }

  .portCarousel {
    width: 60vw;
    margin-bottom: 15vh;
  }
  .projectHeadShot {
    display: none;
  }
}
