.resumePage {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: auto;
}

.resumeHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 40px;
  width: 70vw;
  border-bottom: 1px solid #f0b39f;
  margin: 2vh;
  padding: 0%;
  padding-bottom: 2vh;
}

.resumeHeader1 {
  margin: 2vh;
}

.resumePic {
  height: 80vh;
  margin-bottom: 5vh;
}

.resumeIcon {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.resumeIcon a {
  color: #f0b39f;
  font-size: 2vh;
}

@media only screen and (max-width: 2000px) {
  .resumePage {
    width: 100vw;
  }

  .resumeHeader {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .resumePic {
    height: 50vh;
  }
}

@media only screen and (max-width: 450px) {
  .resumePic {
    height: 40vh;
  }
}
